[Unit]
Description=Blog Backend Service
After=network.target

[Service]
User=cacc
WorkingDirectory=/opt/arorms/blog
EnvironmentFile=/etc/default/arorms/blog-spring.env
ExecStart=/usr/bin/java -jar backend.jar

Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
